html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 207);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

header {
  width: 98%;
  height: 100%;
  text-align: center;
  background-color: rgba(230, 169, 78, 0.651);
  color: rgba(187, 69, 1, 0.753);
  border-radius: 0 0 20px 20px;
}

header .h1 {
height: 100%;
margin: 0;
}


#cant_colores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

#cant_colores ul {
    display: flex;
    list-style: none;
    gap: 150px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px; 
    background-color: #cc5c01e8;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

#cont_color {
display: flex;
gap: 10px;
}


#color {
    color: rgb(187, 99, 27);
}

#muestra {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin-top: 20px;
    border-radius: 2px;
}
